:root {
  --blackblu: #120337;
  --bluegray: #322E40;
  --blueberry: #4F86F7;
  --cadetblu: #2C6181;
  --seablu: #007bff;
  --sliteblu: #0056b3;
  --slitegrey: #cccccc;
  --softgrey: #595959;
  --streakblu: #0056b3;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
}

a,
a:visited {
  color: var(--bluegray);
  /* color: #007bff; */
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: #614051;
}

a:hover {
  color: var(--blueberry);
}

nav {
  margin-top: 40px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 5px;
  font-family: cursive;
  font-style: oblique;
}

main {
  width: 80%;
  margin: 0 auto;
}

.about_link {
  font-family: cursive;
  font-style: oblique;
  font-size: 1.25rem;
  text-decoration: none;
}

.container {
  margin: 40px 0;
  color: #404040;
}


article {
  margin: 30px 0;
}

aside {
  color: var(--slitegrey);
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  margin-top: -15px;
}

form {
  text-align: left;
  min-width: 200px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px var(--slitegrey);
  border-radius: 10px;
  vertical-align: top;
}

.form-group {
  margin: 25px 40px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--slitegrey);
  border-radius: 8px;
  font-size: 1rem;
}

.submit-btn {
  background-color: var(--cadetblu);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
}

.submit-btn:hover {
  background-color: var(--streakblu);
}

.items {
  font-size: 2rem;
  font-family: serif;
  color: var(--cadetblu);
  margin: 0;
  padding: 0;
}


footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: var(--blackblu);
}