{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Add Post{% endblock title %}</h2>
{% endblock header %}

{% block content %}
<form method="post">
  <div class="form-group">
    <label class="frm-lbl" for="user">Your Name</label>
    <input type="text" name="user" id="user" value="{{ request.form.get('user', '') }}" class="form-control">
  </div>
  <div class="form-group">
    <label class="frm-lbl" for="item">Your Item</label>
    <textarea name="item" id="item" class="form-control">{{ request.form.get('item', '') }}</textarea>
  </div>
  <div class="form-group">
    <label class="frm-lbl" for="priority">Priority</label>
    <select name="priority" id="priority" class="form-control">
      <option value="Low">Low</option>
      <option value="Medium" selected>Medium</option>
      <option value="High">High</option>
    </select>
  </div>
  <div class="form-group">
    <input type="submit" value="Add Item" class="submit-btn">
  </div>
</form>
{% endblock content %}